html,
body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
    background: #29303e;
}
h1,
h2 {
    color: rgba(255, 255, 255, 0.95);
}
h3 {
    color: rgba(255, 255, 255, 0.8);
}
.cp-pointer-palette {
    border: 2px solid white;
    position: absolute;
    /*background-color: white;*/
    width: 25px;
    height: 25px;
    border-radius: 15px;
}
.cp-pointer-slider-horizontal,
.cp-pointer-slider-vertical {
    border: 2px solid white;
    position: absolute;
    /*background-color: white;*/
    border-radius: 5px;
}
